/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

:root {
  --primary: #1FB37A;
  --primary_hover: #08915c;
  --primary-light: #e8fadf;
}

/* ----- Custom Default Styles ----- */

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}


/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}
.input-group {
  margin-top: 5px;
  position: relative;
  display: flex;
  column-gap: 10px !important;
  width: 100%;
}
label{
  margin-bottom: 5px;
}

/* ----- Activities Item  ----- */
/* .activities {
  display: grid;
  grid-template-columns: 1fr 150px 150px 250px 150px 90px;
  align-items: flex-end;
  grid-gap: 15px;
} */

input:focus-visible{
  outline: none !important;
  border: 1px solid #d9dee3 !important;
}
.select2-search__field:focus-visible{
  border: none !important;
}
.activities_sch-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
ul#select2-cron_day-results {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5px;
  grid-gap: 10px;
  min-width: 330px;
  width: 100% !important;
  justify-content: center;
}
ul#select2-cron_day-results > li {
  width: 35px;
  height: 35px;
  border: 1px solid #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select2-container--open .select2-dropdown--below {
  width: 330px !important;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
/*--- Himanshu Css ---*/

.offcanvas-body{
  overflow: hidden !important;
}

.column-gap-0{
  column-gap: 0 !important;
}
.column-gap-2{
  column-gap: 5px !important;
}
.input-groups{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
.reminder-plus{
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
  padding: 0.58rem 0.875rem;
  cursor: pointer;
}

.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background: #1FB37A !important;
  color: #fff !important;
  border: 1px solid #1FB37A !important;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
  background: #1FB37A !important;
  color: #fff !important;
  border: 1px solid #1FB37A !important;
  border-radius: 50%;
  cursor: pointer;
}
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 50%;
  cursor: pointer;
}
.card-body .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus{
  background: #ffd401 !important;
  color: #fff !important;
  border: 1px solid #ffd401 !important;
  border-radius: 50%;
  cursor: pointer;
}
.custom_search_filter {
  width: 350px;
  position: relative;
}
.custom_search_filter_inputMask {
  position: absolute;
  right: 15px;
  top: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--primary);
}
.search-filter-form{
  top: -10px;
}
.select-group{
  width: 133px;
}
.dataTables_wrapper > .bottom{
  display: grid;
  grid-template-columns: 240px 1fr 382px;
}
.task-table .dataTables_wrapper > .bottom{
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.dataTables_filter{
  margin-bottom: 15px;
}
.dataTables_wrapper  > .bottom .dataTables_info{
  text-align: center;
}
.table thead{
  background-color: var(--primary);

}
.table thead th{
  color: #fff !important;
}
div table.dataTable.no-footer{
  border-bottom: none;
}
div table.dataTable tbody td {
    border: none;
    padding: 15px 10px;
    vertical-align: middle;
    font-size: 12px;
}
.dataTables_wrapper tbody tr:hover, .dataTables_wrapper tbody tr.clicked {
  background-color: var(--primary-light)!important;
}
table.dataTable tbody tr.even {
  background-color: #f5f5f5;
}

/* .dataTables_filter{
  display: none !important;
} */
/*--- Buttons---*/
.btn-primary{
  box-shadow: none !important;
  background-color: var(--primary) !important;
  color: #fff !important;
  border: 1px solid var(--primary) !important;
}
.btn-primary:hover{
  transform: none !important;
}
.btn-danger{
  box-shadow: none !important;
  background-color: transparent !important;
  color:  #ff3e1d !important;
  border: none !important;
}
.btn-danger:hover{
  transform: none !important;
}
.date-icons{
    position: absolute;
    top: 35px;
    left: 247px;
}
.edit_team{
  background-color: transparent !important;
  color: var(--primary) !important;
  border: none !important;
}
.edit_activity{
  background-color: transparent !important;
  color: var(--primary) !important;
  border: none !important;
}
.edit_team:hover{
  transform: none !important;
  color: var(--primary);
}
.form-check-input:checked{
  background-color:  var(--primary) !important;
}
.form-control[readonly]{
  background-color: #fff !important;
}
.task-group{
  column-gap: 20px;
}
.select2-dropdown--above{
  min-width: 330px !important;
  width: 100%;
}
.add-more-reminder{
  width: 100%;
}
.delete_reminder{
  float: right;
  background-color: #ff3e1d !important;
  color: #fff !important;
}
.select2-dropdown--below{
  top: 10px !important;
  min-width: 200px !important;
  width: 100% !important;
  padding: 10px 15px !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
}
.select2-dropdown--below .select2-search__field{
  min-height: 40px;
}
.month .select2-search__field, .schedule .select2-search__field{
  min-width: 130px;
  width: 100% !important;
}
.task-form{
  column-gap: 22px;
}
.task-form .task-group:not(:last-child){
  width: 37%;
}
.task-form .select2-container .select2-selection--single{
   min-height: 39px !important;
   border: 1px solid #d9dee3 !important;
   line-height: 35px;
}
.task-form .select2-selection--single .select2-selection__rendered{
  line-height: 20px !important;
}
.task-form .select2-selection__arrow{
  top: -3px !important;
}
/* .select2-dropdown.select2-dropdown--below{
  width: 300px !important;
} */
.select2-dropdown .select2-search__field{
  border-radius: 0.375rem !important;
  border: 1px solid #d9dee3 !important;
}
.select2-dropdown .select2-search__field:focus-visible{
  outline: none !important;
  border: 1px solid var(--primary) !important;
  
}
.completed-task {
  color: black;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.light-style span.select2-dropdown {
  z-index: 99999;
}
.light-style{
  overflow-x: hidden;
}
.select2-selection--single{

  min-height: 38px !important;
  border: 1px solid #d9dee3 !important;
  border-radius: 0.375rem !important;
}
.select2-selection__rendered{
  line-height: 38px !important;
}

.selection__arrow {
  top:6px;
}

.navbar-detached{
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07) !important;
}
.multiple-btn{
  column-gap: 10px;
}
#select2-reminder_dates-results{
  display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.dataTables_filter input{
  padding: 0.4375rem 0.875rem !important;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.53;
  color: #697A8D;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D9DEE3 !important;
  appearance: none;
  border-radius: 0.375rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card{
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07) !important;
  
}
.team-details{
 display: flex;
 column-gap: 15px;
}
.team-icons{
 height: 40px;
 width: 40px;
 border: 1px solid #ddd;
 line-height: 35px;
 text-align: center;
 border-radius: 50%;
}
.team-icons span{
 font-size: 20px;
}
.team-details .team-employee-name{
 font-size: 15px;
 color: #000;
}
.company-name{
 color: #000;
 font-size: 24px;
 line-height: 34px;
}

.calender-view, .calendar-info{
  display: flex;
  column-gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.calendar-info h6{
   font-size: 16px;
}
.calendar-info h6:hover{
  color: var(--primary);
}
.calendar-box{
  color: #000;
}
.calendar-box:hover{
  color: var(--primary);
}
/*----- New Css ----*/
.avatar img {
  border-radius: 50%;
}
.dropdown-menu::before{
  content: "";
  position: absolute;
  top: -6px;
  right: 16px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.dropdown-item .avatar-online{
  background-color: var(--primary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
}
.dropdown-item .avatar-online h5{
  line-height: 40px;
  text-align: center;
  color: #fff;
}
/*---- Todo ---*/
.title{
  color: #000;
}
.todo-header{
  display:  flex;
  justify-content:  space-between;
  margin-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;
}
.todo-task{
  background-color:  var(--primary);
  border-radius: .375rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.todo-form{
  margin-bottom: 0 !important;
}
.task-detail{
  background-color: transparent;
  border-bottom: 1px solid #fff ;
  border: none;
  border-radius: 0px;
  color: #fff !important;
}

.task-detail::placeholder {
  color: #fff !important;
}
.task-detail:focus,.task-detail:focus-visible{
  background-color: transparent !important;
  border: none !important;
}
.task-form .select2-container .select2-selection--single {
  background: transparent ; 
  border-bottom: 1px solid #fff !important;
  border: none !important;
  border-radius: 0px;
  color: #fff !important;
}

.task-form .select2-container--default .select2-selection--single .select2-selection__placeholder{
  color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent !important;
}

.task-group-1{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}
.card-badge{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.calendar-card{
  padding: 10px 12px;
  text-align: center;
}

.team-group .select2-container--default .select2-selection--multiple{
  padding-bottom: 0 !important;
  border: 1px solid #d9dee3;
}
.team-group .select2-container .select2-search--inline .select2-search__field{
height: auto !important;
margin-top: 0 !important;

}
.btn-outline-secondary:hover{
  box-shadow: none !important;
  background-color: #F7D600 !important;
  border: 1px solid #F7D600 !important;
}
.select2-selection__choice{
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: #fff !important;
  padding-right: 10px !important;
}
.select2-selection__choice__remove{
  color: #fff !important;
}
.btn-primary:hover{
  background-color: #F7D600 !important;
  border: 1px solid #F7D600 !important;
  color: #000 !important;
}
.form-control:focus, .form-control:focus-visible{
  border: 1px solid var(--primary) !important;
}
.todo .dataTables_wrapper > .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-form-label, .form-label{
  text-transform: capitalize;
}
.client-project-header{
  padding:  15px 1.5rem;
}

 .select2-container--default #select2-cron_day-results .select2-results__option,  .select2-container--default #select2-reminder_dates-results .select2-results__option{
  height: 40px !important;
  width: 40px !important;
  line-height: 25px !important;
  border-radius: 50% !important;
  border: 1px solid #eee !important;
  margin-bottom: 5px !important;
}

#select2-reminder_dates-results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  column-gap: 10px;
}
form{
  padding-bottom: 0;
  margin-bottom: 0;
}
@media(max-width:767px){
  .todo-task{
    margin-top: 10px;
  }


.card-body.active{

  color: var(--primary);
}

.multiple-btn{
  column-gap: 10px;
}

.client-project-header{
  padding: 10px 1.5rem !important;

}

.toggle-icon {
  cursor: pointer;
}
}
.bxs-checkbox-checked{
  color: var(--primary);
  font-size: 30px;
}

.bxs-checkbox{
  color: var(--primary);
  font-size: 30px;
}

.blur-table-row {
  background-color: #f40a0a !important;
}


.dataTables_filter {
  display: none;
}
.input-group-filter{
  column-gap: 20px !important;
}

.calender-view .badge{
text-transform: capitalize;
}


.task-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  .task-form {
    grid-template-columns: 280px 1fr 110px;
  }

  .task-group-1{
    border-right: 0;
    border-left: 0;
    padding: 0;
  }

}

.task-group-1{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
  height: 22px;
}

.task-group .form-group input, .task-group .form-group input:focus,.task-group .form-group input:focus-visible, .task-group .form-group select, .task-group .form-group select:focus,.task-group .form-group select:focus-visible{
  border: none !important;
  outline: none;
  box-shadow: none;
 }
 
 .action_btn{
  background:  transparent;
  padding: 0.25rem 0.6875rem;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  border: none !important;
  color: #000;
}

.main-title{
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}
.task-table .dataTables_wrapper > .bottom {
  display: none !important;
}
.edit_task:hover{

  background: transparent ! important;
  border: none ! important;
}

.mytodo-card{
  min-height: 100%;
}
/*--- clients & Project ---*/
.client-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.dropdown-trigger-menu{
  right: -160px;
  top: 52px;
}
.dropdown-trigger-menu::before{
  left: 3px;
  top: -4px;
  border: none;

}
.edit:hover{
 color: var(--primary) !important;
}
.delete:hover{
  color: #ff3e1d !important;
}
.card-link + .card-link{
  margin-left: 0 !important;
}
.activity-table tr td{
  text-wrap: balance !important;
}